<!doctype html>
<html>
<head>

	<title>Mandy's Pet Page</title>
	<link rel="stylesheet" href="/public/CSS/main.css"></link>
	<link rel="stylesheet" type="text/css" href="/public/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/public/slick/slick-theme.css"/>
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>

<body>

	<div class="menu">
		<ul >
			<li><a href="/">Home</a></li>
			<li><a href="/pet/kiwi">Kiwi</a></li>
			<li><a href="/pet/coconut">Coconut</a></li>
			<li><a href="/pet/hazel">Hazel</a></li>
			<li><a href="/resources">Resources</a></li>
		</ul>
	</div>
	<div id="page-wrap">	
		{{{body}}}
	</div>
</body>
</html>