<p>Here are more resources: </p>

<ul style="list-style-type: none">
    <li><a href="https://www.akc.org/">American Kennel Club</a></li>
    <li><a href="https://ckcusa.com/">Continental Kennel club</a></li>
    <li><a href="https://www.kingcounty.gov/depts/regional-animal-services/license-your-pet/purchase-renew-license.aspx">King County Pet License</a></li>
</ul>



<label>Disclaimer:</label>
<div style="height:100px;width:500px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id="box">
    <p>{{data}}</p>
</div>

<a href="/">Go back to the main page</a>